<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>myWorkFlowActionProject.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>36D6CB552B8C6E4A002A0CE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36D6CB6E2B8C6E4E002A0CE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36D6CB782B8C6E4E002A0CE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
